.tasktracker{
  display: grid;
  background-color: rgba(7, 60, 44, 0.806);
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;


  place-items: center;
  margin: auto;
  gap: 10px;
}
.task{
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  width: 100%;
 color: rgb(0, 0, 0);
 font-size: 1rem;

  background-color: rgba(223, 210, 210, 0.203);
}

ul li{
  list-style-type: none;
  color: rgb(0, 0, 0);
}
.title{
  font-size: 1.4rem;
}
.detail{
font-size: 1.2rem;
}
span{
  color:rgb(74, 23, 7)
}
@media only screen and (max-width: 700px){
.tasktracker{
grid-template-columns: 1fr;
height: auto;
}
}